<section>
  <div class="login-container">
      <img src="./../img/logo.jpg" />
    <form name="loginForm">
      <label>E-mail:</label>
      <input
        type="text"
        ng-model="username"
        ng-required="true"
        ng-pattern="/^[^\s@]+@[^\s@]+$/"
      />
      <label>Password:</label>
      <input
        type="password"
        ng-model="password"
        ng-required="true"
      />
      <button
      ng-click="loginAuthenticated(username, password)"
      ng-disabled="loginForm.$invalid"
    >
      Login
    </button>
    </form>
    <span ng-show="errorSpan">{{ error }}</span>
  </div>
</section>
