<section>
  <div class="posts-container">
    <h3>ADMINISTRADOR DE POSTAGENS</h3>
    <form name="createPostForm">
      <div class="inputs-posts">
        <div ng-show="userid" class="id-post-input">
          <label>Id do Usuário:</label>
          <input type="number" ng-model="post.userId" class="input-id">
        </div>
        <div class="title-post-input">
          <label>Título do Post:</label>
          <input type="text" ng-model="post.title" class="input-title"/>
        </div>
      </div>
      <div class="textarea-input">
        <label>Escreva seu post:</label>
        <textarea ng-model="post.body" cols="30" rows="8"></textarea>
        <button ng-click="createPost()" ng-show="submit" class="new-post-button">Criar novo post</button>
        <div>
          <button ng-click="updatePost()" ng-show="update" class="update-button">Atualizar</button>
          <button ng-click="cancelUpdate()" ng-show="cancel" class="cancel-button">Cancelar</button>
       </div>
      </div>
    </form>
    <div class="post-title">
      <h3> POSTAGENS </h3>
      <hr>
    </div>
    <div ng-repeat="post in posts" class="post-card">
      <h3><a href="#!/posts/{{post.id}}">{{ post.title }}</a></h2>
        <div>
        <button ng-click="editPost(post)" class="update-button">Editar</button>
        <button ng-click="deletePost(post)" class="cancel-button">Deletar</button>
      </div>
    </div>
  </div>
</section>